@font-face {
  font-family: CursedTimer;
  src: url(/assets/CursedTimerUlil-Aznm.ttf);
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-items: center;
  margin: 100px;
  background-color: #060d0d;
}

.container {
  width: 575px;
  height: 385px;
  color: #eeeeee;
  background-color: #1b244a;
  display: flex;
  justify-content: space-around;
  padding-top: 36px;
  border-radius: 5px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
#home-div,
#guest-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scorecard {
  width: 155px;
  height: 120px;
  background-color: #080001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homescore,
#guestscore {
  font-family: CursedTimer;
  font-weight: normal;
  color: #f94f6d;
}

#btn-home {
  margin-top: 20px;
  width: 155px;
  height: 45px;
  display: flex;
  justify-content: space-around;
}
button {
  width: 45px;
  height: 45px;
  color: #9aabd8;
  background-color: #1b244a;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  font-family: CursedTimer;
}
